@import url('https://fonts.googleapis.com/css2?family=Righteous&family=VT323&display=swap');

$background: #29A39F;
$keys: rgb(115, 210, 222);
$key-border: 2px solid rgba(210, 210, 210, 0.7);
$toggle-colour: #7C274B;
$toggle-button-colour: #D01157;
$text-colour: rgba(255,255,255,0.75);
$text-shadow: 1px 1px #555, -1px -1px #555, -1px 1px #555, 1px -1px #555;
$text-shadow-inset: 1px 1px white, -1px -1px black;
$box-shadow: 3px 3px 2px #444, -1px -1px rgba(200,200,200,0.3);
$box-shadow-inset: inset 3px 3px 3px #444;
$track-colour: #9F7429;
$thumb-colour: #E1C38E;



* {
  // border: 1px dotted black;
}

body {
  margin-top: 40px;
  background-color: #ABB9C4;
  font-family: Righteous, sans-serif;
  font-size: 25px;
  color: $text-colour;
}

#drum-machine {
  border: $key-border;
  border-radius: 10px;
  background-color: $background;
  position: relative;
  height: 350px;
  width: 650px;
  margin: auto;
  display: flex;
  box-shadow: $box-shadow;
}

#logo {
  position: absolute;
  right: 3px;
  margin: 2px;
  font-size: 1.3em;
  text-shadow: $text-shadow;
}

#drum-pad-buttons {
  height: 255px;
  width: 255px;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}

.button-row-0 {
  display: flex;
  position: absolute;
  left: 20px;
  top: 50px;
}

.button-row-1 {
  display: flex;
  position: absolute;
  left: 55px;
  top: 135px;
}

.button-row-2 {
  display: flex;
  position: absolute;
  left: 90px;
  top: 220px;
}

.drum-pad {
  color: rgba(200, 208, 207);
  background-color: $keys;
  border: $key-border;
  border-radius: 50%;
  margin: 1px 3px;
  height: 77px;
  width: 77px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-shadow: $text-shadow-inset;
  box-shadow: $box-shadow;
  &:hover {
    cursor: pointer;
    }
}


/* DISPLAY RULES */
#display {
  height: 75%;
  width: 40%;
  margin: auto;
  display: grid;
  grid-template-rows: 1fr 1fr 1fr;
}


/* DISPLAY SCREEN */
#display-text {
  font-family: VT323, sans-serif;
  font-size: 1.8em;
  border: $key-border;
  border-radius: 4px;
  color: #222;
  display: flex;
  width: 250px;
  height: 70px;
  margin: auto;
  align-items: center;
  justify-content: center;
  background: rgba(150,150,150,0.65);
  box-shadow: $box-shadow-inset;
}

.control > p {
  padding: 0px;
  margin: 2px;
  text-align: center;
  font-size: 0.8em;
  font-weight: 100;
  text-shadow: $text-shadow;
}

/* TOGGLE */
#toggles {
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

.toggle {
  width: 60px;
  height: 30px;
  background: $toggle-colour;
  border: 3px solid $toggle-colour;
  border-radius: 19px; 
  box-shadow: $box-shadow-inset;
}

.toggle-inner {
  position: relative;
  top: 1px;
  width: 29px;
  height: 29px;
  background: $toggle-button-colour;
  border-radius: 50%;
  box-shadow: $box-shadow;
  &:hover {
    cursor: pointer;
  }
}

#volume {
  display: flex;
  justify-content: center;
}

/* TRACK CHANGES */ 
@mixin track {
  cursor: default;
  height: 12px;
  width: 85%;
}

@mixin thumb {
  box-shadow: $box-shadow;
  background: $thumb-colour;
  border-radius: 5px;
  box-sizing: border-box;
  cursor: pointer;
  height: 15px;
  width: 10px;
}

[type='range'] {
  width: 85%;
  -webkit-appearance: none;
  background: transparent;
  
  &:focus {
    outline: none;
  }
  
  &::-moz-focus-outer {
    border: 0;
  }
  
  &::-webkit-slider-runnable-track {
    background: lighten($track-colour, 8%);
  }
  
  &::-ms-fill-lower {
    background: $track-colour;
  }
  
  &::-ms-fill-upper {
    background: lighten($track-colour, 8%);
  }
  
  &::-webkit-slider-runnable-track {
    @include track;
    box-shadow: $box-shadow-inset;
    background: $track-colour;
    border: 2px solid lighten($track-colour,10%);
  }
  
  &::-webkit-slider-thumb {
    @include thumb;
    -webkit-appearance: none; 
    height: 30px;
    width: 20px;
    margin-top: -11px;
  }
  
  &::-moz-range-track {
    @include track;
    box-shadow: $box-shadow;
    background: $track-colour;
    border: $key-border;
  }
  
  &::-moz-range-thumb {
    @include thumb;
  }
  
  &::-ms-track {
    @include track;
    width: 85%;
    background: transparent;
    border-color: transparent;
    color: transparent;
  }
  
  &::-ms-fill-lower {
    box-shadow: $box-shadow;
    background: $track-colour;
    border: $key-border;
  }
  
  &::-ms-fill-uppder {
    box-shadow: $box-shadow;
    background: $track-colour;
    border: $key-border;
  }
  
  &::-ms-thumb {
    @nclude thumb;
  }
}



@media screen and (max-width: 650px) {
  * {
    // border: 1px dotted black;
  }
  #drum-machine {
    width: 400px;
    height: 500px;
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
  }
  
  #display {
    transform: scale(0.9);
    width: 300px;
    height: 200px;
    justify-content: center;
    position: relative;
    top: 30px;
  }
  
  #drum-pad-buttons {
    position: relative;
    left: -55px;
    top: -50px;
  }
}